<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>WebForDaxiaojie</title>
</head>
<body>
    <form action="/CheckPassword" method="post">
        {% csrf_token %}
        <input type="text" name="Password">
        <input type="submit" value="Submit">
    </form>
    <P>{{ rlt }}</p>
<iframe src="//www.seniverse.com/weather/weather.aspx?uid=UD1CBEABFD&cid=CHBJ000100&l=zh-CHS&p=SMART&a=0&u=C&s=3&m=0&x=1&d=3&fc=&bgc=&bc=&ti=0&in=0&li=" frameborder="0" scrolling="no" width="500" height="110" allowTransparency="true"></iframe>
<iframe src="//www.seniverse.com/weather/weather.aspx?uid=UD1CBEABFD&cid=CHSH001100&l=zh-CHS&p=SMART&a=0&u=C&s=3&m=0&x=1&d=3&fc=&bgc=&bc=&ti=0&in=0&li=" frameborder="0" scrolling="no" width="500" height="110" allowTransparency="true"></iframe>
<iframe src="//www.seniverse.com/weather/weather.aspx?uid=UD1CBEABFD&cid=CHSD060000&l=zh-CHS&p=SMART&a=0&u=C&s=3&m=0&x=1&d=3&fc=&bgc=&bc=&ti=0&in=0&li=" frameborder="0" scrolling="no" width="500" height="110" allowTransparency="true"></iframe>
<iframe src="//www.seniverse.com/weather/weather.aspx?uid=UD1CBEABFD&cid=CHJS060400&l=zh-CHS&p=SMART&a=0&u=C&s=3&m=0&x=1&d=3&fc=&bgc=&bc=&ti=0&in=0&li=" frameborder="0" scrolling="no" width="500" height="110" allowTransparency="true"></iframe>
<iframe src="//www.seniverse.com/weather/weather.aspx?uid=UD1CBEABFD&cid=CHJS030000&l=zh-CHS&p=SMART&a=0&u=C&s=3&m=0&x=1&d=3&fc=&bgc=&bc=&ti=0&in=0&li=" frameborder="0" scrolling="no" width="500" height="110" allowTransparency="true"></iframe>
</body>
</html>
