<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<style type="text/css">
		body, html {width: 100%;height: 100%;margin:0;font-family:"微软雅黑";}
		#allmap{width:100%;height:100%;}
		p{margin-left:5px; font-size:14px;}
	</style>
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=aRpARkvGAmm4KFkGcN0MjTo3RmfeLxSE"></script>
	<script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
	<title>SuZhou Travel</title>
</head>
<body>
	<div id="allmap"></div>
</body>
</html>
<script type="text/javascript">
	// 百度地图API功能
	map = new BMap.Map("allmap");
	map.centerAndZoom(new BMap.Point(116.338897,40.011006), 5);
    map.addControl(new BMap.NavigationControl());
	var data_info = [[120.48745,31.300943,"天池山"],[120.635263,31.326931,"狮子林"],
	[120.59896,31.32176,"留园"],[120.634121,31.329144,"苏州博物馆"],[120.635703,31.330247,"拙政园"],
	[120.640254,31.303709,"网师园"],[120.515708,30.921256,"震泽古镇"],[120.588083,31.34068,"虎丘"],
	[120.632066,31.300634,"沧浪亭"],[120.574907,31.316454,"寒山寺"],[120.855935,31.119287,"周庄"],
	[120.725441,31.163773,"同里"],];
	for(var i=0;i<data_info.length;i++){
		var point = new BMap.Point(data_info[i][0],data_info[i][1]);
	    var marker = new BMap.Marker(point);  // 创建标注
	    map.addOverlay(marker);              // 将标注添加到地图中
	}
	var data_info = [[120.6319,31.316697,"松鹤楼菜馆(观前街店)"],[120.640255,31.31881,"松鹤楼菜馆(平江路店)"],
	[120.609838,31.316172,"松鹤楼菜馆(茉莉花店)"],[120.607737,31.324771,"松鹤楼菜馆(山塘街店)"],[120.631902,31.31634,"得月楼观前店"],
	[120.699408,31.308638,"得月楼(李公堤店)"],[120.69549,31.308497,"洋洋中餐馆园区店"],[120.609568,31.322797,"赵元章肉骨烧"],
	[120.631345,31.315771,"桃花源记(观前店)"],[120.640283,31.320537,"桃花源记"],[120.63546,31.321558,"藏书羊肉"],
	[120.740416,31.330122,"金海华赫本时光"],[120.634882,31.321206,"哑巴生煎"],];
	var opts = {
	  position : point,    // 指定文本标注所在的地理位置
	  offset   : new BMap.Size(30, -30)    //设置文本偏移量
	};
	for(var i=0;i<data_info.length;i++){
		var point = new BMap.Point(data_info[i][0],data_info[i][1]);
	    var marker = new BMap.Marker(point);  // 创建标注
	    map.addOverlay(marker);              // 将标注添加到地图中

	    var label = new BMap.Label(data_info[i][2],{offset:new BMap.Size(20,-10)});
	    marker.setLabel(label);
	}
	var navigationControl = new BMap.NavigationControl({
    // 靠左上角位置
    anchor: BMAP_ANCHOR_TOP_LEFT,
    // LARGE类型
    type: BMAP_NAVIGATION_CONTROL_LARGE,
    // 启用显示定位
    enableGeolocation: true
  });
  map.addControl(navigationControl);
  // 添加定位控件
  var geolocationControl = new BMap.GeolocationControl();
  geolocationControl.addEventListener("locationSuccess", function(e){
    // 定位成功事件
    var address = '';
    address += e.addressComponent.province;
    address += e.addressComponent.city;
    address += e.addressComponent.district;
    address += e.addressComponent.street;
    address += e.addressComponent.streetNumber;
    alert("当前定位地址为：" + address);
  });
  geolocationControl.addEventListener("locationError",function(e){
    // 定位失败事件
    alert(e.message);
  });
  map.addControl(geolocationControl);
</script>


